.head-image
{
    background-image: url("https://c1.staticflickr.com/9/8012/7282065612_302abd63ce_k.jpg");
    background-size: cover;
    height: 91vh;
}

.no-itemMarker
{
    list-style-type: none;
}

.top-left
{
    padding-top: 140px;
    padding-left: 120px;
}

.impact-font
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.white-text
{
    -webkit-text-fill-color: white;
}

.bottom
{
    margin-top: 80vh;
}

.circular-btn
{
    border-radius: 50%;
}
